#mainRow > .formGroup {
  padding: 2px 4px !important;
}

.mainRow {
  display: flex;
  justify-content: space-around;
}

.placementContainer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 10px;
}

.placementInnerContainer {
  display: flex;
  gap: 20px;
  width: 50%;
  > div {
    flex-grow: 1;
  }
}

.rowSpecial {
  display: flex;
  gap: 20px;
}

.rowColumn {
  display: flex;
  gap: 40px;
  padding-bottom: 10px;
}

.formContainerSub {
  background-color: #e9ecef;
  /* padding: 0 !important; */
  border: 1px solid #ccc;
}

.formContainer {
  max-width: 1200px;
}
.dropdownForm {
  background-color: var(--form-blue);
  padding: 20px;
  border-top: 1px solid #ccc;
}
.radioContainer > input[type='radio'] {
  display: none;
}
.star {
  cursor: pointer;
}
.formTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.formSubtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.formGroup {
  padding: 10px;
}

.formGroupSpecial {
  padding-left: 10px;
}

.formGroupInner {
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  gap: 20px;
}

.formRow .formGroup {
  flex: 1;
}

.label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

.input,
.select {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

.formSelect {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#iconCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoIcon {
  color: #0066cc;
  cursor: help;
}

.fileUploadSection {
  margin-top: 30px;
}

.fileTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.fileTable th,
.fileTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.fileButtons {
  margin-bottom: 20px;
}

.fileButtons button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.backButton,
.saveButton,
.nextButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.backButton {
  background-color: #f0f0f0;
  color: #333;
}

.saveButton {
  background-color: #f0f0f0;
  color: #333;
  margin-right: 10px;
}

.nextButton {
  background-color: #0066cc;
  color: white;
}

.customDateInput {
  margin-left: 24px;
  border: 1px solid black;
  font-size: 14px;
}
