.textInput {
  width: 312px;
  height: 34px;
  border-radius: 3.2px;
  border: 1px solid #ced4da;
  background: #fff;
  padding: 4px 12px 4px 8px;
}

.selectInput {
  width: 312px;
  height: 34px;
  border-radius: 3.2px;
  border: 1px solid#ced4da;
  background: #fff;
  padding: 4px 12px 4px 8px;
  border-radius: 3.2px;
  border: 1px solid #ced4da;
  background: #fff;
  &:disabled {
    background-color: #e9ecef;
  }
}

.label {
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.required {
  color: #dc3545;
  margin-left: 2px;
}

.smallText {
  width: 128px;
  height: 34px;
  border-radius: 3.2px;
  border: 1px solid #ced4da;
  background: #fff;
  padding: 4px 12px 4px 8px;
}

.mediumText {
  width: 220px;
  height: 34px;
  border-radius: 3.2px;
  border: 1px solid #ced4da;
  background: #fff;
  padding: 4px 12px 4px 8px;
}

.smallSelect {
  width: 128px;
  height: 34px;
  border-radius: 3.2px;
  border: 1px solid#ced4da;
  background: #fff;
  padding: 4px 12px 4px 8px;
  border-radius: 3.2px;
  border: 1px solid #ced4da;
  background: #fff;
  &:disabled {
    background-color: #e9ecef;
  }
}

.longSelect {
  width: 460px;
  height: 34px;
  border-radius: 3.2px;
  border: 1px solid#ced4da;
  background: #fff;
  padding: 4px 12px 4px 8px;
  border-radius: 3.2px;
  border: 1px solid #ced4da;
  background: #fff;
  &:disabled {
    background-color: #e9ecef;
  }
}
